<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
  <link rel="stylesheet" href="/edit-user.css" />

</head>

<body>
  <header>
    <div class="text-box">
        <h1 id="title">Create User Game</h1>
        <hr>
    </div>
</header>
<div class="container">
  <form action="/create-new-users" method="post">

    <div class="labels">
      <label id="name-label" for="name">* Username</label></div>
    <div class="input-tab">
      <input class="input-field" type="text" id="name" name="username" placeholder="Enter your name" required
        autofocus>
    </div>

    <div class="labels">
      <label id="name-label" for="name">* Password</label></div>
    <div class="input-tab">
      <input class="input-field" type="password" id="name" name="password" placeholder="Enter your name" required
        autofocus>
    </div>

    <div style="display: flex">
      <div class="btn">
        <button id="submit" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
</body>

</html>