<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #a1 {
            padding-left: 20px;
            padding-right: 20px;
        }

        #createUser {
            background-color: rgb(86, 152, 228);
            margin-left: 1px;
            margin-bottom: 10px;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 12px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<body>
    <div id="a1">
        <h1>Table Users</h1>
        <a href="/create-user">
            <button id="createUser">
                CREATE NEW USER
            </button>
        </a>
        </a>
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <!-- <th>Password</th> -->
                <th>Action</th>
            </tr>
            <% result.forEach( element => { %>
            <tr>
                <td> <%= element.id %> </td>
                <td> <%= element.username %> </td>
                <!-- <td> <%= element.password %> </td> -->
                <td>
                    <button style="background-color: orange">
                        <a href="/edit-users/<%= element.id %>" method="update">EDIT</a>
                    </button>
                    <button style="background-color: rgb(228, 86, 86)">
                        <a href="/delete-users/<%= element.id %>" method="post">DELETE</a>
                    </button>
                    <button style="background-color: rgb(86, 228, 131)">
                        <a href="/details-history/<%= element.id %>" method="post">DETAILS</a>
                    </button>
                    <button style="background-color: rgb(86, 152, 228)">
                        <a href="/add-biodata/<%= element.id %>" method="post">ADD BIODATA</a>
                    </button>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>

</body>

</html>