<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #a1 {
            padding-left: 20px;
            padding-right: 20px;
        }

        #createUser {
            background-color: rgb(86, 152, 228);
            margin-left: 1px;
            margin-bottom: 10px;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 12px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<body>
    <div id="a1">
        <h1>Detail User</h1>
        <a href="/dashboard">
            <button id="createUser">
                DASHBOARD
            </button>
        </a>

        <table id="customers" class="table-auto">
            <tr>
                <th>ID</t>
                <td><%= user.id %> </td>
            </tr>
            <tr>
                <th>Username</t>
                <td><%= user.username %> </td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><%= biodata.first_name %> </td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><%= biodata.last_name %> </td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td><%= biodata.birthday %> </td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><%= biodata.gender %> </td>
            </tr>
            <tr>
                <th>Location</th>
                <td><%= biodata.location %> </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><%= biodata.phone %> </td>
            </tr>
        </table>
        <table id="customers" class="table-auto">
            <h1>HISTORY</h1>
            <tr>
                <th>ID</th>
                <th>DATE</th>
                <th>SCORE</th>
            </tr>
            <tr>
                <td><%= user.id %></td>
                <td>dd/mm/yyyy</td>
                <td>WIN</td>
            </tr>
        </table>
    </div>
</body>

</html>