<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    
<h1>Edit User Game With ID : <%=user.id%></h1>
<button>
    <a href="/dashboard">DASHBOARD</a>
</button>
<form action="/update/<%= user.id %>" method="post">
    <div>
        <label for="">Username</label>
        <input type="text" name="username" value="<%= user.username %>">
    </div>
    <div>
        <label for="">Password</label>
        <input type="text" name="password" value="<%= user.password %>">
    </div>
    <div>
        <label for="">First Name</label>
        <input type="text" name="first_name">
    </div>
    <div>
        <label for="">Last Name</label>
        <input type="text" name="last_name">
    </div>
    <div>
        <label for="">Birthday</label>
        <input type="date" name="birthday">
    </div>

    <div>
        <label for="">Gender</label>
        <div class="form-gender">
            <input class="form-gender-input" type="radio" name="gender" id="RadioMale" value="Male" />
            <label class="form-gender-label" for="RadioMale"> Male </label>
        </div>
        <div class="form-check">
            <input class="form-gender-input" type="radio" name="gender" id="RadioFemale" value="Female" />
            <label class="form-gender-label" for="exampleRadios2"> Female </label>
        </div>
    </div>
    <div>
        <label for="">Location</label>
        <input type="text" name="location">
    </div>
    <div>
        <label for="">Phone</label>
        <input type="number" name="phone">
    </div>
    <button type="submit" class="">Save</button>
    <button type="reset" class="">Reset</button>
</form>
</body>
</html> -->

 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/edit-user.css" />
</head>

<body>
    <header>
        <div class="text-box">
            <h1 id="title">Edit User Game With ID : <%=user.id%></h1>
            <hr>
        </div>
    </header>
    <div class="container">
        <form action="/update/<%= user.id %>" method="post">
            <div class="labels">
                <label id="name-label" for="name">* User Name</label>
            </div>
            <div class="input-tab">
                <input class="input-field" type="text" id="name" name="name" placeholder="Enter your name" disabled
                    value="<%= user.username %>">
            </div>

            <div class="labels">
                <label id="name-label" for="name">* First Name</label></div>
            <div class="input-tab">
                <input class="input-field" type="text" id="name" name="first_name" placeholder="Enter your name"
                    required autofocus>
            </div>

            <div class="labels">
                <label id="name-label" for="name">* Last Name</label></div>
            <div class="input-tab">
                <input class="input-field" type="text" id="name" name="last_name" placeholder="Enter your name" required
                    autofocus>
            </div>

            <div class="labels">
                <label id="number-label" for="number">* Birthday</label>
            </div>
            <div class="input-tab">
                <input class="input-field" type="date" id="number" name="birthday" min="1" max="120" placeholder="15"
                    required>
            </div>


            <div class="labels">
                <label id="email-label" for="email">* Gender</label>
            </div>
            <div class="input-tab">
                <div class="form-gender">
                    <input class="form-gender-input" type="radio" name="gender" id="RadioMale" value="Male" />
                    <label class="form-gender-label" for="RadioMale"> Male </label>
                </div>
                <div class="form-check">
                    <input class="form-gender-input" type="radio" name="gender" id="RadioFemale" value="Female" />
                    <label class="form-gender-label" for="exampleRadios2"> Female </label>
                </div>
            </div>

            <div class="labels">
                <label id="name-label" for="name">* Location</label></div>
            <div class="input-tab">
                <input class="input-field" type="text" id="name" name="location" placeholder="Enter your name" required
                    autofocus>
            </div>

            <div class="labels">
                <label id="name-label" for="name">* Phone</label></div>
            <div class="input-tab">
                <input class="input-field" type="text" id="name" name="phone" placeholder="Enter your name" required
                    autofocus>
            </div>

            <div style="display: flex">
                <div class="btn">
                    <button id="submit" type="submit" style="background-color: rgb(86, 152, 228);">
                        <a href="/dashboard">
                            DASHBOARD
                        </a>
                    </button>
                </div>
                <div class="btn">
                    <button id="submit" type="submit">Submit</button>
                </div>
                <div class="btn">
                    <button style="background-color: #e62222;" id="reset" type="reset">Reset</button>
                </div>
            </div>


        </form>
    </div>
</body>

</html>